---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Matteus Watson. All rights reserved.
	<div class="social-links">
		<a href="https://www.instagram.com/matteus.j.a.watson.art/" target="_blank">
			<span class="sr-only">Follow my photography account on Instagram</span>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="36"
				height="36"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
				><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
					d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
				></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path><path
					d="M16.5 7.5l0 .01"></path></svg
			>
		</a>
		<a href="mailto:matteus.j.a.watson@gmail.com" target="_blank">
			<span class="sr-only">Email Me</span>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="36"
				height="36"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
				><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
					d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
				></path><path d="M3 7l9 6l9 -6"></path></svg
			>
		</a>
		<a href="https://twitter.com/matteusWArt" target="_blank">
			<span class="sr-only">Tweet me</span>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="36"
				height="36"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-brand-twitter"
				><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
					d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 1em 1em 6em 1em;
		background: transparent;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
